<div id="nav-head" class="header-nav">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-3 no-padding col-sm-12 nav-img">
          <img src="assets/exp.png" alt="logo" />
        </div>
        <div id="menu" class="col-lg-8 col-md-9 d-none d-md-block nav-item">
          <ul>
            <li><a class="navi" routerLinkActive="active" href="/">Home</a></li>
            <li><a class="navi" routerLinkActive="active" routerLink="/analytics">Analytics</a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>