.container {
    margin-top: 50px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .form-control {
    margin-bottom: 1rem;
  }
  
  .shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  }
  
  .btn {
    width: 20%;
  }
  .arrow {
    width: 100%;
  }
  .del {
    width: 100%;
  }
  
  .edit {
    width: 100%;
  }
  .add {
    margin-left: 0px;
  }
  
  .bal {
    margin-left: 20px;
    margin-right: 15px;
  }
  .amt {
    margin: 0 10px 0 10px;
  }
  .table-bordered {
    border: 1px solid #bababa;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #bababa;
  }
  
  .income-field {
    background-color: rgb(0, 117, 0);
    color: white;
    border-radius: 10px; 
    padding: 6px; 
  }
  .save-field {
    background-color: rgb(90, 90, 90);
    color: white;
    border-radius: 10px; 
    padding: 6px; }
  
  .expense-field {
    background-color: rgb(128, 0, 0);
    color: white;
    border-radius: 10px; 
    padding: 6px; 
  }
  .h {
    margin-left: 8px;
  }
  
  .cat {
    margin-bottom: 11px;
  }
  
  .fy {
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 14px;
  }
  
  @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }
    .add {
      width: 100%;
      margin: 0px;
      padding: 10px;
    }
    .update {
      width: 100%;
    }
    .dad {
      margin-top: 20px;
    }
    .bal {
      margin: 0px;
    }
    .exp {
      margin-top: 15px;
    }
    .row.d-flex.justify-content-center.align-items-center {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .container{
        margin-top: 20px;
    }
  }
  