<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="text-center">Income Expense Tracker</h1>
      <br />
      <div class="row mt-4">
        <div class="row">
          <h4 class="income-field">
            <i class="fas fa-coins"></i>
            <span class="h" [style.color]="'white'"
              >Income: Rs {{ totalIncome }}</span
            >
          </h4>
          <h4 class="bal save-field">
            <i class="fas fa-wallet"></i>
            <span class="h" [style.color]="'white'"
              >Saved: Rs {{ balance }}</span
            >
          </h4>
          <h4 class="exp expense-field">
            <i class="fas fa-credit-card"></i>
            <span class="h" [style.color]="'white'"
              >Expense: Rs {{ totalExpense }}</span
            >
          </h4>
        </div>
      </div>

      <br />
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="">Category:</label>
          <select class="form-control" [(ngModel)]="currentType">
            <option value="" disabled selected>Select</option>
            <option value="income">Income</option>
            <option value="expense">Expense</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="">Category Name:</label>
          <input
            class="form-control"
            [(ngModel)]="name"
            placeholder="Enter Name"
            appInputRestrict="alphabet"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="">Amount:</label>
          <input
            class="form-control"
            [(ngModel)]="amount"
            placeholder="Enter Amount"
            appInputRestrict="number"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="">Date:</label>
          <input
            class="form-control"
            [(ngModel)]="date"
            placeholder="Date"
            type="date"
          />
        </div>
        <div class="form-row">
          <div class="form-group dad col-md-12">
            <button
              class="btn btn-success add"
              (click)="addTransaction()"
              *ngIf="!editMode"
            >
              Add
            </button>
            <button
              class="btn btn-primary update"
              (click)="updateTransaction()"
              *ngIf="editMode"
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row mt-4">
        <div class="row d-flex justify-content-center align-items-center">
          <button class="btn btn-secondary arrow" (click)="decrementYear()">
            &lt;
          </button>
          <h4 class="fy">
            <strong>{{ filterYear }}</strong>
          </h4>
          <button class="btn btn-secondary arrow" (click)="incrementYear()">
            &gt;
          </button>
        </div>
      </div>
      <br />
      <div class="row mt-4">
        <div class="col">
          <label for="">Filter by month:</label>
          <select
            class="form-select h"
            [(ngModel)]="filterMonth"
            (change)="filterTransactionsByMonth(filterMonth)"
          >
            <option value="">All records</option>
            <option value="0">January</option>
            <option value="1">February</option>
            <option value="2">March</option>
            <option value="3">April</option>
            <option value="4">May</option>
            <option value="5">June</option>
            <option value="6">July</option>
            <option value="7">August</option>
            <option value="8">September</option>
            <option value="9">October</option>
            <option value="10">November</option>
            <option value="11">December</option>
          </select>
        </div>
      </div>
      <br />
      <div class="row mt-4">
        <div class="col">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaction of filteredTransactions">
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.name }}</td>
                <td>{{ transaction.type }}</td>
                <td [appHighlight]="transaction.type">
                  {{ transaction.amount }}
                </td>
                <td>{{ transaction.date | date }}</td>
                <td>
                  <button
                    class="btn btn-primary edit"
                    (click)="editTransaction(transaction.id)"
                  >
                    <i class="fas fa-edit"></i>
                  </button>
                </td>
                <td>
                  <button
                    class="btn btn-danger del"
                    (click)="deleteTransaction(transaction.id)"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
